.form {
  position: relative;
  padding: 0.5rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  font-size: var(--fs-100);
  border-radius: 1rem;
  background-color: var(--clr-primaryDarkMode-800);
}

.form::before {
  position: absolute;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
}
