.form__input {
  flex: 1;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  color: var(--clr-primary-100);
  caret-color: var(--clr-accentDarkMode-600);
  background: transparent;
}

.form__input::placeholder {
  color: var(--clr-primary-100);
}

@media screen and (min-width: 540px) {
  .form__input {
    flex-basis: 60%;
  }
}
