.form__input {
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  border: none;
  border-radius: 1rem;
  color: var(--clr-primary-100);
  caret-color: var(--clr-accentDarkMode-600);
  background: transparent;
}

.form__input::placeholder {
  color: var(--clr-primary-100);
}
