.form {
  position: relative;
  padding: 0.5rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  font-size: var(--fs-100);
  border-radius: 1rem;
  background-color: var(--clr-primaryDarkMode-800);
}

.form::before {
  position: absolute;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
}

.form__input {
  flex: 1;
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  border: none;
  border-radius: 1rem;
  color: var(--clr-primary-100);
  caret-color: var(--clr-accentDarkMode-600);
  background: transparent;
}

.form__input::placeholder {
  color: var(--clr-primary-100);
}

.form__submit {
  margin-left: auto;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  color: var(--clr-primary-100);
  background-color: var(--clr-accentDarkMode-600);
  cursor: pointer;
}

.form__submit:hover {
  background-color: var(--clr-accentDarkMode-300);
}

.form__error-show {
  display: block;
  position: absolute;
  right: 6rem;
  color: var(--clr-accent-400);
  font-weight: var(--fw-bold);
}

@media screen and (min-width: 540px) {
  .form__input {
    flex-basis: 60%;
  }
}
