.table {
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  color: var(--clr-primaryDarkMode-900);
  background-color: var(--clr-primary-200);
}

.table-data {
  text-align: center;
}

.table-data > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
